.comingSoon span{
    color: pink;
}

.pools_home{
    color: #fff !important;
}

.btn{
    padding: 7px 25px !important;
    color: #000 !important;
}

.whitepaper_btn{
    margin-left:15px;
    color: #000 !important;
  }

  [data-rk] ._12cbo8i6, [data-rk] ._12cbo8i6::after{
    background: var(--gr-primary) !important;
    border-radius: 8px;
  }

  .btn_extra{
    padding: 8px 50px !important;
    border-radius: 8px;
    background: #fff;
    margin-left: 0 !important;
  }

  .nft_btn{
    background: var(--gr-primary) !important;
    border-radius: 8px;
    margin-left: 15px;
    padding: 8px 50px !important;
    border: none !important;
  }

  .info_token div{
    min-height: 130px !important;
    padding: 30px 10px !important;
  }


    .banner-area img{
        margin-top: 30px;
  }


  .call-to-action-padding{
    border-radius: 8px !important;
  }

  button{
    text-decoration: none;
    color: #fff !important;
    cursor: pointer;
  }

  .feature_box{
    margin-top: 30px;
  }

  .amount_input{
    margin-bottom: 5px;
    width: 100%;

  }

  .threeandfourth{
    margin-top: 20px;
  }

 
@media(min-width:777px){


.info_token{
    margin-top: 20px;
}
.info_token{
    max-width: 25% !important;
  }
}

